body {
    font-family: "Spartan", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  h1, h2 {
    text-align: center;
    color: #030303;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #007bff;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }