/* Conteneur principal */
.home-container {
  text-align: center;
  padding: 2rem;
  background-color: #f9f9f9;
  /*min-height: calc(100vh + 4rem); /* Ajuste la hauteur pour le header */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Carrousel */
.carousel {
  position: relative;
  width: 200%;
  /* Largeur du carrousel */
  max-width: 106%;
  /* Largeur maximale */
  height: 500px;
  /* Hauteur fixe */
  margin: 0 0;
  /* Centre le carrousel */
  margin-bottom: 1.5rem;
  margin-top: calc(9.5rem - 4.5rem);
  /* Décale le carrousel vers le haut */
  overflow: hidden;
  border-radius: 10px;
  /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
}

/* Images du carrousel */
.carousel-images {
  width: 100%;
  height: 100%;
  background-size: cover;
  /* Ajuste la taille des images */
  background-position: center;
  transition: background-image 0.5s ease-in-out;
  transform: translateX(calc(-100% * var(--current-index, 0)));
  ;
}

/* Boutons de navigation */
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}

.carousel-button.prev {
  left: 100px;
}

.carousel-button.next {
  right: 100px;
}

.carousel-button:hover {
  background-color: #ff5100;
}

/* Texte et bouton */
h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 1.5rem;
}

.explore-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.explore-button:hover {
  background-color: #ff5100;
}

@media (max-width: 468px) {
  .carousel {
    width: 400px;
    /* Réduit la hauteur sur les petits écrans */
    max-width: 500px;
    /* Largeur maximale */
  }
}

/* Responsive design */
@media (max-width: 768px) {

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .explore-button {
    font-size: 0.9rem;
  }

  .carousel-button.prev {
    left: 25px;
  }

  .carousel-button.next {
    right: 20px;
  }

  .carousel-button {
    transform: translateY(-50%);
    font-size: 1.5rem;
    padding: 0.2rem .8rem;
  }
}


.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
  z-index: 10;
  /* Place les indicateurs au-dessus des images */
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: #ff5100;
}

/* Overlay pour les textes et la barre de recherche */
.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  /*background: rgba(0, 0, 0, 0.4); /* Fond semi-transparent */
  text-align: center;
  /*padding: 1rem;*/
  z-index: 2;
  /* Place l'overlay au-dessus des images */
  /*test des ecrits sur l'image*/

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1320px;
}

.title {
  color: #fff;
  font-weight: 600;
}

.carousel-overlay p {
  color: #fff;
  font-weight: 400;
  font-size: 1.5rem;
}

.carousel-overlay h1 {
  margin: 0;
  font-size: 4rem;
}

@media (min-width: 768px) and (max-width: 1320px) {
  .container {
    padding-left: 130px;
    padding-right: 30px;
    width: auto;
  }
}

/*Texte sur l'image et la barre de recherche*/
.carousel-overlay {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1320px;
}

@media only screen and (min-width: 1200px) {
  .carousel-overlay {
    /*max-width: 1185px;*/
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.hero-banner.hero-style-4 .banner-content {
  text-align: center;
  padding-bottom: 30px;
}

.m-btn.m-btn-theme2[data-v-8d4d8d3a] {
  background: #fff;
  color: #000;
  border-radius: 60px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  top: 10px;

  /*border-radius: 25px;*/
  border: 2px solid #fff !important;
}


.m-btn[data-v-8d4d8d3a] {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  display: inline-block;
  cursor: pointer;
  transition: all .55s ease;
  outline: 0;
  border: none;
  padding: 0 .5rem 0 1.5rem;
  height: 5rem;
}

/*.m-btn[data-v-8d4d8d3a],
.top-230[data-v-8d4d8d3a] {
  position: relative;
}*/

figure,
form {
  margin: 0;
}

.message,
.title-small[data-v-8d4d8d3a] {
  text-shadow: 2px 7px 5px rgb(0 0 0 / 59%), 0 -4px 10px hsl(0deg 0% 100% / 20%);
  display: inline-block;
  margin: 0 !important;
  padding: 0 !important;
}


.title-big[data-v-8d4d8d3a] {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  font-weight: 900;
  color: #fff;
}

/*.title-small[data-v-8d4d8d3a] {
  flex-direction: column;
  font-weight: 320;
  font-size: 30px !important;
  color: #fff !important;
  padding-left: 0%;
  padding-right: 0%;
}*/

.icon[data-v-8d4d8d3a] {
  padding: 10px;
  background: #fe5521;
  color: #fff;
  border-radius: 50%;
  line-height: 1.2;
  font-size: 16px;
  cursor: pointer;
}

.material-symbols-outlined {
  text-align: center;
}

.banner-content {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.search-bar {
  border: none;
  font-size: 15px;
  text-align: center;
  height: 4rem;
  width: 100%;
  background: none;
}

/*##########################*/

/*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #e5e5e5;
}

::-webkit-scrollbar-thumb {
    background: #f59072;
    ;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff5520;
}
*/


/* debut de test*/

/*fin d'essai */
/* Carré arondie responsive contenant les services */
/*.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.grid-item {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.grid-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.grid-item img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.grid-item h3 {
  margin: 10px 0 0 0;
  color: #333;
  font-size: 14px;
}

/* Media Queries pour rendre la grille responsive */
@media (max-width: 1200px) {

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    /* 3 colonnes pour les écrans moyens */
  }
}

@media (max-width: 768px) {

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    /* 2 colonnes pour les tablettes */
  }

  .grid-item {
    padding: 15px;
  }

  .grid-item img {
    width: 50px;
    height: 50px;
  }

  .grid-item h3 {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
    /* 1 colonne pour les téléphones portables */
  }

  .grid-item {
    padding: 10px;
  }

  .grid-item img {
    width: 40px;
    height: 40px;
  }

  .grid-item h3 {
    font-size: 12px;
  }
}


.material-symbols-outlined {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px
}

.material-symbols-outlined {
  text-align: center;
}

.icon-container .icon-item .material-icons {
  font-size: 40px;
  color: #FF5733;
  /* Couleur de l'icône */
}

.container {
  padding-top: 0.5rem;
}

@media (max-width: 768px) {
  .icon-container .icon-item .material-icons {
    font-size: 30px;
    /* Adjust icon size for tablets */
  }

  .icon-container .icon-item p {
    font-size: 14px;
    /* Adjust text size for tablets */
  }
}

@media (max-width: 480px) {
  .icon-container .icon-item .material-icons {
    font-size: 25px;
    /* Adjust icon size for mobile phones */
  }

  .icon-container .icon-item p {
    font-size: 12px;
    /* Adjust text size for mobile phones */
  }
}

/*Fin du code material icon */

@media(min-width:992px) {
  .col-lg {
    flex: 1 0 0
  }
}

@media(min-width:1200px) {
  .col-xl {
    flex: 1 0 0
  }
}




@media only screen and (min-width:1200px)and (max-width:1599px) {
  .display-desktop {
    display: flex;
  }

  .display-mobile {
    display: none;
  }

  .container {
    padding-left: 120px;
  }
}


@media only screen and (min-width:992px)and (max-width:1199px) {
  .display-mobile {
    display: none;
  }

  .display-desktop {
    display: flex;
  }
}


@media only screen and (min-width:761px)and (max-width:991px) {
  .m-btn.m-btn-theme2[data-v-8d4d8d3a] {
    width: 350px;
    left: 1.2rem;
  }
}


@media only screen and (max-width:400px) {
  .display-mobile {
    display: flex;
  }

  .display-desktop {
    display: none;
  }

  .carousel-overlay p {
    font-size: 1.15rem;
  }

  .title-big[data-v-8d4d8d3a] {
    font-size: 28px;
    font-weight: 900;
  }

}


@media only screen and (max-width:760px) {
  .display-mobile {
    display: flex;
  }

  .display-desktop {
    display: none;
  }

  .m-btn.m-btn-theme2[data-v-8d4d8d3a] {
    width: 300px;
    left: 2rem;
  }

  .carousel-overlay p {
    font-size: 1.15rem;
  }

}